.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 90%;
}

.formGroup {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.inputContainer {
  display: flex;
  flex-direction: row;
}

.addInput {
  flex: 1;
  width: 80%;
  height: 40px;
}

.addInputField {
  font-family: inherit;
  width: 80%;
  border: 0;
  border-bottom: 2px solid var(--color-gray);
  outline: 0;
  font-size: 1.3rem;
  color: var(--color-text);
  padding: 7px 0;
  margin-bottom: 50px;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown~.addInputLabel {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.addInputLabel {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--color-gray);
}

.addInputField:focus {
  ~.addInputLabel {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--color-primary);
    font-weight: 700;
  }

  padding-bottom: 6px;
  border-width: 3px;
  border-image: linear-gradient(to right, var(--color-primary), var());
  border-image-slice: 1;
}

.addInputField {

  &:required,
  &:invalid {
    box-shadow: none;
  }
}

.tagInput {
  width: 25%;
  height: 40px;
}

.addTagField {
  font-family: inherit;
  width: 25%;
  border: 0;
  border-bottom: 2px solid var(--color-gray);
  outline: 0;
  font-size: 1.3rem;
  color: var(--color-text);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown~.addTagLabel {
    font-size: 1.3rem;
    cursor: text;
    top: 110px;
  }
}

.addTagLabel {
  position: absolute;
    top: 110px;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--color-gray);
}

.addTagField:focus {
  ~.addTagLabel {
    position: absolute;
    top: 90px;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--color-primary);
    font-weight: 700;
  }

  padding-bottom: 6px;
  border-width: 3px;
  border-image: linear-gradient(to right, var(--color-primary), var());
  border-image-slice: 1;
}

.addTagField {

  &:required,
  &:invalid {
    box-shadow: none;
  }
}



