.container {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 100%;
  min-height: 168px;
  padding: 40px;
  border-radius: 10px;
  background-color: var(--color-todo_item-bg);
}

.leftBtns {
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
}

input[type="checkbox"] {
  display: none;
}

.formWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 20px;
}

.editInput {
  color: var(--color-gray);
  font-family: inherit;
  font-size: 1.3rem;
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
}

.itemName {
  color: var(--color-text);
  font-size: 25px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.3s ease-in-out;
}

.itemName::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 3px;
  background-color: var(--color-primary);
  transform: translateY(-50%);
  transition: width 0.4s ease-in-out;
}

input[type="checkbox"]:checked+.itemName {
  color: rgba(155, 155, 155, 0.4);
}

input[type="checkbox"]:checked+.itemName::before {
  width: 100%;
}

.rightBtns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
