:root {
  /* Colors */
  --color-gray: #9b9b9b;
  --color-text: #fff;
  --color-bg: #222222;
  --color-primary: #f08080;
  --color-secondary: #ef7fb7;
  --color-todo_item-bg: rgba(65, 65, 65, 0.45);
  --color-tags: rgba(200, 147, 216, 0.6);
  --color-settings-bg: rgba(129, 66, 165, 0.7);
  --color-settings-input: #37174c;

  /* Fonts */
  --font-fira: "Fira Code Variable";
}
