.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 90%;
}

.tagsContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 25%;
  margin-top: 10px;
}
